#header {
	height:50px;

	background-color:#445878;
}

#logo{
	/*font-family: 'Open Sans', sans-serif;*/
	color:white;
	/*font-size: 25px;*/
	/*text-align: center;*/
	/*font-weight: bold;*/
	/*margin-top: 10px;*/
}