.question {
	background-color:#445878;	
	color: white;
}

#answer_img {
	height:400px;
}

#logo{
	font-family: 'Open Sans', sans-serif;
	color:#EA6045;
	font-size: 25px;
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
	}

#menu, #compose {
	max-width: 30px;
}

#header {
	height:50px;
}


.menu_items {
	background-color: #EA6045;
	height:85px;
	/*margin-top: 20px;
	height:50px;
*/}

.menu_items_light {
	background-color: #EA6045;
	height:85px;
	opacity:0.8;
}


#white-line {
	background-color: white;
	height:1px;
}

.section_title {
	background-color: #EA6045;
	text-align: center;
	color:white;
	height:30px;
}