.question{	
	height:130px;
	color: white;
	position:relative;
}
.question:nth-child(4n+0){
	background-color:#445878;	
}
.question:nth-child(4n+1){
	background-color:#80B25F;	
}
.question:nth-child(4n+2){
	background-color:#F8CA4D;	
}
.question:nth-child(4n+3){
	background-color:#92CDCF;	
}
.question .text{
	text-align: center;
	font-size: 25px;
}


#answer_img {
	max-height:400px;
	position:relative;
}

#logo{
	font-family: 'Open Sans', sans-serif;
	color:#EA6045;
	font-size: 25px;
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
	}

#menu, #compose {
	max-width: 30px;
}

#home {
	max-width:40px;
}
#header {
	height:50px;
	background-color:white;
}


.menu_items {
	background-color: #EA6045;
	height:80px;
	font-weight: bold;
	/*margin-top: 20px;
	height:50px;
*/}

.menu_items_light {
	background-color: #EA6045;
	height:80px;
	opacity:0.8;
	font-weight: bold;
}


#white-line {
	background-color: white;
	height:1px;
}

.section_title {
	background-color: #EA6045;
	text-align: center;
	color:white;
	height:30px;
}